<%= render 'layouts/logo' %>
<div class="container">
  <div class="row">
    <%= render 'items/sidebar' %>
    <div class="main">
      <div class="col-sm-10">
  	    <h2>マイページ</h2>

  	<!-- 会員情報　-->
  	    <div class="col-sm-1"></div>
  	    <div class="col-sm-3">
  	      <figure class="box">
  	  	    <%= attachment_image_tag @user, :image, size: "200x200", fallback: "no_image.jpg" %>
  	      </figure>
  	    </div>
  	    <div class="col-sm-5">
  	      <table class="table">
  	  	    <tr>
  	  	      <th><h4>ユーザーネーム</h4></th>
  	  	      <td><%= @user.username %></td>
  	  	    </tr>
            
            <% if @user == current_user %>
  	  	    <tr>
  	  	      <th><h4>メールアドレス</h4></th>
  	  	      <td><%= @user.email %></td>
  	  	    </tr>
            <% end %>

            <tr>
              <th></th>
              <td></td>
            </tr>

  	      </table>
          <% if @user == current_user %>
            <%= link_to "編集", edit_user_path, class: "edit-btn" %><br><br>
          <% end %>
  	    </div>
      </div>
      <div class="col-sm-10">
        <div class="col-sm-1"></div>
        <div class="col-sm-8">
          <h3>投稿</h3><br><br>
          <% current_user.items.each do |item|%>
            <div class="item-panel">
              <div class="item-image">
                <div class="row">
                  <span class="col-xs-3">
                    <%= attachment_image_tag item.user, :image, :fill, 60, 60, format: 'jpg',fallback: "no_image.jpg" ,size:'60x60'%>
                  </span>
                  <span class="col-xs-8">
                    <h7 class="item-name"><%= item.user.username %></h7>
                  </span>
                </div>
              </div>
              <div class="item-title">
                <div class="row">
                  <span class="col-xs-3">
                  </span>
                  <span class="col-xs-9">
                    <%= link_to item.title, item_path(item) %><br>
                  </span>
                </div>
              </div><br>
              <div class="item-link">
                <div class="row">
                  <span class="col-xs-3">
                  </span>
                  <span class="col-xs-2">
                    <i class="far fa-comments"></i> <%= item.comments.count %>
                  </span>
                  <span class="col-xs-2" id="likes_buttons_<%= item.id %>">
                    <%= render partial: "likes/like", locals: { item: item } %>
                  </span>
                  <span class="col-xs-2">
                    <%= link_to download_item_path(item), "data-confirm" => "音源をダウンロードしますか？" do %>
                      <i class="fas fa-arrow-alt-circle-down"></i>
                    <% end %>
                  </span>
                  <span class="col-xs-2">
                    <%= link_to item_path(item), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </span>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>