
  <div class="col-lg-3">
    <div class="search">
    <%= form_tag(items_path, :method => "get") do %>
      <%= text_field_tag :search, params[:search], placeholder: "キーワード検索", class: "search-form" %>
      <%= submit_tag "検索", :name => nil %>
    <% end %>
    <!--<%= form_tag items_path, method: :get, class: 'boards__searchForm' do %>
  　  <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
    { prompt: 'タグで絞り込み検索',onchange: 'submit(this.form);'}
    %>
    <% end %>-->
  </div>
</div>

