<%= form_for(@item) do |f|%>
  <div class="form-group">
  	<%= f.label :タイトル %>
    <%= f.text_field :title , class:"form-control" %>
    <%= f.label :コメント %>
    <%= f.text_field :text , class:"form-control" %>
    <%= f.label :ファイル %>
    <%= f.file_field :file , class:"form-control" %>
    <%= f.label :タグ %>
    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
      <%= tag.label do %>
        <%= tag.check_box %>
        <%= tag.text %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= f.submit "投稿" %>
  </div>
<% end %>
