<%= render 'layouts/logo' %>
<div class="container">
  <div class="row">
    <div class="container col-lg-4">
      <div class="sidebar-content well">
        <div class="row">
          <span class="col-xs-4">
            <%= attachment_image_tag current_user, :image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
          </span>
          <span class="col-xs-8">
            <%= link_to "プロフィール編集", edit_user_path(current_user) %>
           </span>
        </div>
        <%= current_user.username %><br>
        <div class="row">
          <span class="col-xs-4">
            投稿数<br>
            <%= current_user.items.count %>
          </span>
          <span class="col-xs-4">
            フォロー<br>
            <%=  %>
          </span>
          <span class="col-xs-4">
            フォロワー<br>
            <%=  %>
          </span>
        </div>
        <div class="row">
        <%= form_for(@newitem) do |f|%>
          <div class="form-group">
            <%= f.label :タイトル %>
            <%= f.text_field :title , class:"form-control" %>
            <%= f.label :コメント %>
            <%= f.text_field :text , class:"form-control" %>
            <%= f.label :ファイル %>
            <%= f.file_field :file , class:"form-control" %>
          </div>
          <div>
            <%= f.submit "投稿" %>
          </div>
        <% end %>
        </div>
      </div>
      <div class="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
          <% if admin_signed_in? %>
            <li class="nav-item"><%= link_to 'ホーム', admins_top_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"><%= link_to '会員一覧', admins_users_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: 'nav-link' %></li>
          <!-- ユーザー -->
          <% elsif user_signed_in? %>
            <p class="text-center">
              <li class="nav-item"><%= link_to 'ホーム', items_path, class: 'nav-link' %>
              </li>
              <li class="nav-item"><%= link_to 'About', user_about_path, class: 'nav-link' %>
              </li>
              <li class="nav-item"><%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link' %>
              </li>
              <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link' %>
              </li>
          <!-- 非ログイン -->
          <% else %>
            <li class="nav-item"><%= link_to 'About', user_about_path, class: 'nav-link' %>
            </li>
            <li class="nav-item" ><%= link_to '新規登録', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  	<div class="col-lg-5">
  	  <div class="post-panel well well-sm">
  	    <div class="item-image">
  	      <div class="row">
  	        <span class="col-xs-3">
              <%= attachment_image_tag @item.user, :image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
            </span>
            <span class="col-xs-8">
              <h5><%= current_user.username %></h5>
            </span>
          </div>
        </div>
        <div class="item-title">
          <div class="row">
  	      	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-6">
              <%= @item.title %><br>
            </span>
          </div>
        </div><br>
        <div class="item-text">
          <div class="row">
  	        <span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-9">
              <%= @item.text %><br>
            </span>
          </div>
        </div><br>
        <div class="item-link">
          <div class="row">
          	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-8">
  	      	  <%= @item.created_at %><br><br />
  	      	</span>
  	      </div>
  	      <div class="row">
  	      	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-3" id="likes_buttons_<%= @item.id %>">
                <!-- <td> -->
                  <%= render partial: "likes/@like", locals: { item: @item } %>
                <!-- </td> -->
              </span>
            <span class="col-xs-3">
              <%= link_to download_item_path(@item), "data-confirm" => "音源をダウンロードしますか？" do %>
                <i class="fas fa-arrow-alt-circle-down"></i>
              <% end %>
            </span>
            <span class="col-xs-3">
              <%= link_to item_path(@item), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </span>
          </div><br>
          <div class="row">
            <span class="col-xs-3">
            </span>
            <span class="col-xs-9">
              <% @item.tags.each do |tag| %>
                <%= tag.name %>
              <% end %>
            </span>
            </div>
        </div>
  	  </div>
  	  <div class="row">
        <% @item.comments.each do |comment| %>
          <div class="comment-image">
            <span class="col-xs-3">
              <%= link_to user_path(comment.user) do %>
                <%= attachment_image_tag comment.user, :image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
              <% end %>
  	        </span>
  	        <span class="col-xs-8">
  	          <h5><%= comment.user.username %></h5>
            </span>
          </div>
          <div class="comment-text">
            <div class="row">
              <span class="col-xs-3">
              </span>
              <span class="col-xs-6">
          	    <%= comment.comment %>
          	  </span>
          	</div>
          </div><br>
          <div class="comment-delete">
          	<div class="row">
          	  <span class="col-xs-9">
          	  </span>
          	  <span class="col-xs-3">
                <% if comment.user_id == current_user.id %>
                  <%= link_to "編集", edit_item_path(@item,comment.id) %>
			            <%= link_to "削除", item_comment_path(@item,comment.id), method: :delete %>
                <% end %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
  	  <div class="comment-submit">
      <%= form_for [@item, @comment] do |f| %>
		    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %><br>
	      <%= f.submit "送信する" %>
	    <% end %>
	    </div>
    </div>
    <%= render 'items/serch' %>
  </div>
</div>


