<%= render 'layouts/logo' %>
<div class="container">
  <div class="row">
    <%= render 'items/sidebar' %>
    <div class="main">
  	<div class="col-lg-5">
  	  <div class="item-panel-show">
  	    <div class="item-image">
  	      <div class="row">
  	        <span class="col-xs-3">
              <%= link_to user_path(@item.user.id) do %>
              <%= attachment_image_tag @item.user, :image, :fill, 80, 80, format: 'jpg',fallback: "no_image.jpg" ,size:'80x80'%>
              <% end %>
            </span>
            <span class="col-xs-8">
              <h5 class="item-name"><%= @item.user.username %></h5>
            </span>
          </div>
        </div>
        <div class="item-title">
          <div class="row">
  	      	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-6">
              <%= @item.title %><br>
            </span>
          </div>
        </div><br>
        <div class="item-text">
          <div class="row">
  	        <span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-9">
              <%= @item.text %><br>
            </span>
          </div>
        </div><br>
        <div class="item-link">
          <div class="row">
          	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-8">
  	      	  <%= @item.created_at.strftime("%Y-%m-%d %H:%M") %><br><br />
  	      	</span>
  	      </div>
  	      <div class="row">
  	      	<span class="col-xs-3">
  	      	</span>
  	      	<span class="col-xs-3" id="likes_buttons_<%= @item.id %>">
                <!-- <td> -->
                  <%= render partial: "likes/@like", locals: { item: @item } %>
                <!-- </td> -->
              </span>
            <span class="col-xs-3">
              <%= link_to download_item_path(@item), data: { turbolinks: false }, "data-confirm" => "音源をダウンロードしますか？" do %>
                <i class="fas fa-arrow-alt-circle-down"></i>
              <% end %>
            </span>
            <span class="col-xs-3">
              <%= link_to item_path(@item), method: :delete, data: { turbolinks: false }, "data-confirm" => "本当に削除しますか？" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </span>
          </div><br>
          <div class="row">
            <span class="col-xs-3">
            </span>
            <span class="col-xs-9">
              <% @item.tags.each do |tag| %>
                <span class="badge badge-primary">
                  <%= tag.name %>
                </span>
              <% end %>
            </span>
          </div>
        </div>
      </div>
      
      <div class="audio">
        <div class="row">
          <span class="col-xs-3">
            <%= audio_tag(@item.file) %>
          </span>
        </div>
      </div><br><br>

  	  <div class="comment-submit">
      <%= form_for [@item, @comment] do |f| %>
		    <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメント" %><br>
	      <%= f.submit "コメントを送信", class: "c-btn" %><br><br>
	    <% end %>
	    </div>

      <div class="row">
        <% @item.comments.each do |comment| %>
        <div class="comment">
          <div class="comment-image">
            <span class="col-xs-3">
              <%= link_to user_path(comment.user) do %>
                <%= attachment_image_tag comment.user, :image, :fill, 40, 40, format: 'jpg',fallback: "no_image.jpg" ,size:'50x50'%>
              <% end %>
            </span>
            <span class="col-xs-8">
              <h5><%= comment.user.username %></h5>
            </span>
          </div>
          <div class="comment-text">
            <div class="row">
              <span class="col-xs-3">
              </span>
              <span class="col-xs-6">
                <%= comment.comment %>
              </span>
            </div>
          </div><br>
          <div class="comment-delete">
            <div class="row">
              <span class="col-xs-9">
              </span>
              <span class="col-xs-3">
                <% if comment.user_id == current_user.id %>
                  <!--<%= link_to "編集", edit_item_path(@item,comment.id) %>-->
                  <%= link_to "削除", item_comment_path(@item,comment.id), method: :delete %>
                <% end %>
              </span>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    </div>
    <%= render 'items/search' %>
  </div>
</div>



<script>
  audiojs.events.ready(function() {
    var as = audiojs.createAll();
  });
</script>

