<!DOCTYPE html>
<html>
  <head>
    <title>Session</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="http://api.html5media.info/1.1.4/html5media.min.js"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= favicon_link_tag %>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
  </head>

  <body>
    <div class="wrap">
      <div class="container-fluid">
    　  <div class="row">
      　  <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
